@model MovieReviewApp.Models.BookingTicket

@{
    ViewBag.Title = "Select Seats";
}
<p>@Model.Price</p>


<h2>Choose Your Seats</h2>
<div id="seat-container">
    
    <div id="screen">Cinema Screen</div>
    <div id="seats">
        @for (char row = 'A'; row <= 'L'; row++)
        {
            <div class="seat-row">
                @for (int col = 1; col <= 18; col++)
                {
                    <div class="seat" data-seat="@($"{row}{col}")"></div>
                }
            </div>
        }
    </div>

    @* <input type="" asp-for="SelectedSeats" id="selectedSeats" value="@Model.SelectedSeats"/> *@
</div>


<form method="post" asp-action="ConfirmBooking">
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Price" />
    <input type="hidden" asp-for="PhoneNumber" />
    <input type="hidden" asp-for="BookingDate" />
    <input type="hidden" asp-for="NumberOfSeats" />
    <input type="hidden" asp-for="SelectedSeats" id="selectedSeats" />

    <p>Selected Seats: <span id="selected-seats"> </span></p>

    <button type="submit" class="btn btn-success">Confirm Booking</button>
</form>




@* <p>Selected Seats: <span id="selected-seats"> </span></p> *@

@* <button id="confirm-selection">Confirm Selection</button> *@



@section Scripts {
   
    <script>
        $(document).ready(function() {
            let selectedSeat = [];
        
            $('.seat').click(function(){
                let seat = $(this).attr("data-seat");

                if($(this).hasClass("reserved")){
                    alert("This is already booked");
                    return;
                }

                $(this).toggleClass("selected")
                
                if($(this).hasClass("selected")){
                    selectedSeat.push(seat)
                }
                else{
                    selectedSeat = selectedSeat.filter(s => s !== seat);
                }

                // $("#selected-seats").text(selectedSeat.join(","))
                // @Model.SelectedSeats = selectedSeat.join(",")


                 $("#selected-seats").text(selectedSeats.join(","));
                $("#selectedSeats").val(selectedSeats.join(","));

            })

            // $("#confirm-selection").click(function(){
            //     if(selectedSeat.length < @Model.NumberOfSeats){
            //         alert("select at least one seat");
            //         return;
            //     }

            //     let bookingData = {
            //     Id: @Model.Id,  Ensure ID is sent
            //     Name: "@Model.Name",  Send user details
            //     Price: @Model.Price,  Send the price
            //     PhoneNumber: "@Model.PhoneNumber",
            //     BookingDate: "@Model.BookingDate",
            //     NumberOfSeats: @Model.NumberOfSeats,
            //     SelectedSeats: selectedSeat.join(",") Convert seat array to string
            
            //     };

            // console.log(bookingData);

            //  $.ajax({
            //     url: '@Url.Action("ConfirmBooking", "Booking")',
            //     type: 'POST',
            //     contentType: 'application/json',
            //     data: JSON.stringify(bookingData),
            //     success: function(response) {
            //         window.location.href = response.redirectUrl;
            //         console.log(JSON.stringify(bookingData));
            //     },
            //     error: function(error) {
            //         alert("Something went wrong!");
            //         console.log(JSON.stringify(bookingData));
            //     }
            // });



            });

            
        
        })
    </script>
}

<style>
    #seat-container {
        text-align: center;
        margin-top: 20px;
    }

    #screen {
        background: gray;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .seat-row {
        display: flex;
        justify-content: center;
    }

    .seat {
        width: 30px;
        height: 30px;
        margin: 5px;
        background: lightgray;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        border-radius: 5px;
    }

        .seat.selected {
            background: green;
            color: white;
        }

        .seat.reserved {
            background: red;
            color: white;
            cursor: not-allowed;
        }
</style>
